* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

header {
  height: 8vh;
  width: 100%;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav .logo img {
  height: 40px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
  font-weight: 500;
}

nav ul li:hover {
  font-weight: 700;
}

.color-mode i {
  height: 20px;
  color: black;
}

.color-mode .fa-sun {
  display: none;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main p {
  text-align: center;
  padding: 30px 100px;
}

.headline {
  font-size: 5rem;
}

.cta-btns button {
  padding: 10px 30px;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 28px;
  transition: 0.3s ease-in-out;
}

.cta-btns button:hover {
  box-shadow: 5px 8px 2px -5px #6c7986;
}
