* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-main: #30364f;
  --bg-sec: #acbac4;
  --bg-hover: #4a5167;
  --bg-shadow: #e1d9bc;
}

body {
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: var(--bg-sec);
  height: 60vh;
  min-width: 25%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-field input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 60px;
  font-size: 1.8rem;
  text-align: right;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.row button {
  height: 40px;
  width: 60px;
  padding: 20px 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bg-main);
  color: #fff;
}

button:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
