* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  background-color: #000000b6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.background-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-panel,
.right-panel {
  height: 100%;
}

.left-panel {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-panel .details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #676767a2;
  width: 90%;
  border-radius: 30px;
  margin: 10px auto;
  transition: 1s ease-in-out;
}

.city-name {
  font-size: 2rem;
  font-weight: 600;
}

#temp {
  font-size: 5.5rem;
  position: relative;
  margin-right: 30px;
}

#temp span {
  font-size: 2.5rem;
  position: absolute;
  top: 17px;
}

.right-panel {
  width: 30%;
  padding: 30px;
  background-color: #37373795;
}

.right-panel .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  gap: 20px;
}

.right-panel .search-box,
.search-btn {
  height: 50px;
  outline: none;
  border: 2px solid #999999;
  border-radius: 30px;
  background: none;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.search-box:hover,
.search-btn:hover {
  border: 2.1px solid #d2d2d2;
}

.right-panel .search-box {
  min-width: 75%;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.right-panel .search-btn {
  padding: 10px 20px;
  /* width: 30%; */
}

.right-panel .search-history {
  margin-top: 50px;
}

.recent {
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.search-history ul {
  margin: 30px 0;
}

.search-history ul li {
  width: 100%;
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
}

.search-history ul li:hover {
  color: #e33737;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }

  .right-panel {
    position: absolute;
    height: 90vh;
    top: 0;
    width: 100%;
    z-index: 3;
    background: none;
  }

  .left-panel {
    width: 100%;
    height: 5vh;
    margin-bottom: 90px;
  }

  .weather-image {
    display: none;
  }

  #temp {
    width: 80%;
    text-align: center;
  }

  .left-panel .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    background: none;
    z-index: 1;
  }

  .city-detail p,
  .weather-details p {
    text-align: center;
    /* padding: 5px; */
  }
}
