* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

:root {
  --primary-color: #221130;
  --main-text-color: #ffdab3;
  --sec-text-color: #c8aaaa;
}

body {
  background-color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 5;
}

nav {
  height: 8vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 50px;
  gap: 30px;
  margin: 0 100px;
  color: var(--main-text-color);
}

nav .logo p {
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}

#home {
  height: 92vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px;
  color: var(--main-text-color);
  overflow: hidden;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #221a2af1;
  z-index: -1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.bg-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.short-bio {
  width: 100%;
  color: var(--sec-text-color);
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0 100px;
}

.home-right {
  width: 40%;
}

.home-right {
  width: 60%;
  height: 100%;
}

.home-right img {
  height: 500px;
}

#about {
  height: 92vh;
  margin: 0 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#about h1 {
  width: 16%;
  color: var(--main-text-color);
}

.line {
  border: 1px solid var(--main-text-color);
  width: 84%;
}

.about-left {
  width: 50%;
  color: var(--main-text-color);
}

.about-right {
  width: 50%;
}

.about-right img {
  width: 80%;
  float: right;
  border-radius: 10px;
}
