* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

:root {
  --primary-color: #574964;
  --main-text-color: #ffdab3;
  --sec-text-color: #c8aaaa;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

header {
  height: 8vh;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 5;
}

nav {
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 50px;
  gap: 30px;
  margin: 0 100px;
  color: var(--main-text-color);
}

nav .logo a {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

nav .logo a p {
  color: var(--main-text-color);
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}

.nav-links ul li a:hover {
  color: var(--sec-text-color);
}

#home {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 60px;
  color: var(--main-text-color);
  overflow: hidden;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #25212af1;
  z-index: -1;
}

.home-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.bg-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-left {
  width: 40%;
  padding-left: 50px;
}

.short-bio {
  width: 100%;
  color: var(--sec-text-color);
}

.home-right {
  width: 60%;
  overflow: hidden;
  height: 70vh;
}

.home-right img {
  height: 510px;
  width: 100%;
}

section {
  width: 100%;
  padding: 50px 100px;
}

#about {
  height: 92vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.section-title {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.sec-heading {
  color: var(--main-text-color);
  width: auto;
}

.line {
  border: 1px solid var(--main-text-color);
  flex: 1;
}

.about-left {
  width: 50%;
  color: var(--main-text-color);
}

.about-right {
  width: 50%;
}

.about-right img {
  width: 80%;
  float: right;
  border-radius: 10px;
}

.skills-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.skills-content ul li {
  flex: 1;
  margin: 50px 10px;
  list-style: none;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1.5rem;
  height: 100px;
  transition: 1s ease-in-out;
}

.skills-content ul li img {
  height: 100px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  padding-left: 2px;
}

.skills-content ul li img:hover {
  transform: scale(1.1);
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.project-separation {
  height: 230px;
  border: 1.2px solid var(--main-text-color);
}

.project-box {
  flex: 2;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  width: 350px;
}

.project-box img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}

.project-box::before {
  content: "";
  background-color: #8d747481;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: 0.3s;
}

.project-box:hover::before {
  height: 100%;
}
.project-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.project-box:hover i {
  opacity: 1;
}

#contact {
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
}

.social-handle {
  display: flex;
  align-items: center;
  margin: 0 10px;
  gap: 25px;
}

.social-handle a i {
  font-size: 1.5rem;
  color: #fff;
}

.social-handle a i:hover {
  color: var(--main-text-color);
}

footer {
  width: 100%;
  text-align: center;
  margin: 36px 0;
  font-size: 0.8rem;
  color: var(--sec-text-color);
}
